# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=onceyonce
DB_NAME=plataforma_legal

# JWT Configuration
JWT_SECRET=25d72586fa143e9449e57df41e4665efdc8a55755ef2ba0c7848e92d8056845ed8e0c642b66c51cb8a4f9ad1b001bb03067870d9a58f2345f792900e28956b4d
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:4200

# Didit - Verificacion de identidad (KYC)
# Obtener en https://business.didit.me -> API & Webhooks
DIDIT_API_KEY=SN4hZxtzKE-2l1bjuEBNCahoyO9x8qnxikuJnGSKnRk
DIDIT_WEBHOOK_SECRET_KEY=QDKkSJOj6lGPF8P4RTCysH1k8YCDquh6If2drVVP30Q
DIDIT_WORKFLOW_ID=13332a85-5dac-4a70-ab39-3bcc9ac7155b
DIDIT_API_BASE_URL=https://verification.didit.me
